.history
downstream_triplet
datasets/triplet
datasets/convert_results/convert_cataract101.py
datasets/phase/Cataract101_phase.py
datasets/data_preprosses/extract_frames_cataract101.py
datasets/data_preprosses/extract_frames_SurgVU.py
datasets/data_preprosses/generate_labels_cataract101.py
datasets/data_preprosses/generate_labels_cholect50_single.py
datasets/data_preprosses/generate_labels_SurgVU.py
pretrain_params
results/Cholec80
results/AutoLaparo
data
results
model/__pycache__
downstream_phase/__pycache__
__pycache__
datasets/__pycache__
datasets/phase/__pycache__
datasets/transforms/__pycache__